body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('https://i.pinimg.com/564x/da/10/83/da1083b2e67090d575c5233b19442060.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

h2, h3 {
    text-align: center;
    margin-bottom: 10px;
}

.chart-container {
    margin-bottom: 20px;
    text-align: center;
}

.table-container {
    margin-bottom: 40px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.8);
}

.table-container th, .table-container td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    color: #000;
}

.table-container th {
    background-color: rgba(240, 240, 240, 0.8);
    cursor: pointer;
}
